
body {
  font-family: sans-serif;
  font-size: 16px
}
.done{
  text-decoration: line-through;
}
.filters{
  margin: 1rem 1rem 0.3rem 1rem;
  .link{
   margin-left:1rem;
  }
}
.new-task{
  display: inline-block;
  text-align: center;
  width: 96%;
  height: 30px;
  font-size: .9rem;
  font-weight: bold;
  margin: 1rem 0 1rem 0.2rem;
}
.task{
  padding: 0 1rem;
}
.task-name{
  padding:1rem;
  text-align:center
}
.tasks{
   width:20rem;
   font-size: .9rem;
   margin-left:auto;
   margin-right:auto;
   border:1px solid;
}
.task:nth-child(even) {
  background-color: #f2f2f2;
}

